body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display-picture {
    width: fit-content;
    height: auto;
    overflow: hidden;
    border: 100%;
}
.photo img {
    width: 150px;
    height: 150px;
    display: block;
    text-align: center;
}
.container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
.a {
    border-radius: 10px;
    background-color: black;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: large;
}
